{{{header}}}
<div class="body">
    <img width="1px" height="1px" src="" alt="Read ?"/>
    {{!-- {{id_email}} --}}
    <h3> Hey ! {{ username }}</h3>
</div>

<style>
    .body {
        color: #004396;
        word-wrap: break-word
    }
</style>
{{{footer}}}